{% extends 'adminpage.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="chart_banglore"><button type="button" class="btn btn-secondary">click here to see Trend</button><a>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Production <b>Details</b></h2></div>
                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Line1</th>
                        <th>Line2</th>
                        <th>Line3</th>
                        <th>Line4</th>
                        <th>Line5</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.date}}</td>
                        <td>{{i.line1}}</td>
                        <td>{{i.line2}}</td>
                        <td>{{i.line3}}</td>
                        <td>{{i.line4}}</td>
                        <td>{{i.line5}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>     
    </body>
    </html>
</body>
</html>
{% endblock %}